html,
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(240, 240, 244);
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "HK";
  src: url(./HK-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "HK";
  src: url(./HK-SemiBold.ttf) format("truetype");
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.wrapper {
  position: absolute;
  width: 12vmax;
  height: 12vmax;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper:hover .line {
  transition: opacity 0.1s ease-in;
  opacity: 1;
}

.line {
  position: absolute;
  opacity: 0;
  width: 30%;
  height: 50%;
  border-bottom: 0.3vmax solid aqua;
  border-top: 0.3vmax solid aqua;
  transition: opacity 0.1s ease-in;
}

.wrapper:hover .des {
  transition: opacity 0.1s ease-in;
  opacity: 1;
}

.des {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 50%;
  width: 28vw;
  transform: translateX(-50%);
  transition: opacity 0.1s ease-in;
  font-family: "HK", Helvetica, sans-serif;
  color: black;
  font-size: 1.4vmax;
  text-align: center;
}

.link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.linkText {
  position: absolute;
  color: black;
  font-size: 2.4vmax;
  font-family: "HK", Helvetica, sans-serif;
  font-weight: bold;
}

@media (max-aspect-ratio: 1/1) {
  #root {
    flex-direction: column;
  }
  .des {
    width: 85vw;
  }
}
